[Desktop Entry]
Type=Application
Name=OmaNote
GenericName=Markdown Writer
Comment=Dead-simple Markdown writing app
Exec=omanote %f
Icon=omanote
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=omanote
